<h1>Listing sms</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Sender phone</th>
    <th>Recipient phone</th>
    <th>Sent at</th>
    <th>App</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sms.each do |sm| %>
  <tr>
    <td><%= sm.body %></td>
    <td><%= sm.sender_phone_id %></td>
    <td><%= sm.recipient_phone_id %></td>
    <td><%= sm.sent_at %></td>
    <td><%= sm.app %></td>
    <td><%= link_to 'Show', sm %></td>
    <td><%= link_to 'Edit', edit_sm_path(sm) %></td>
    <td><%= link_to 'Destroy', sm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sm', new_sm_path %>
